
body, html{
  font-family: "Roboto";
  height: 100%;
  overflow: hidden;
  margin: 0;
}

canvas {
  top: -64px;
  width: 100%;
  height: 100%;
  background: linear-gradient(300deg, #ab2a2a, #000000);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 60s ease infinite;
  -moz-animation: AnimationName 60s ease infinite;
  animation: AnimationName 60s ease infinite;
  
}

.movie {
  background: url(https://i.pinimg.com/originals/44/6e/3b/446e3b79395a287ca32f7977dd83b290.jpg);
  background-size: cover;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
} 


#tutorial {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#tutorial .message {
  display: inline-block;
  background: white;
  color: #666666;
  font-family: "Lucida Grande", verdana, sans-serif;
  font-size: 12px;
  line-height: 32px;
  border-radius: 10.56px;
  padding: 0 16px;
}

#credits {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0%;
  height: 64px;
  background: #666;
}
#credits ul {
  list-style: none;
  text-align: center;
  font-family: "Lucida Grande", verdana, sans-serif;
  font-size: 12px;
  line-height: 64px;
}

#credits ul li {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

#credits ul li {
  display: inline-block;
  padding: 0 16px;
  color: #ccc;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

#credits ul li div {
  color: #ccc;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
/*  Firefly */
/*  https://codepen.io/mikegolus/pen/Jegvym */

.fireflies {
  display: none;
}

.firefly {
position: fixed;
left: 50%;
top: 50%;
width: 0.4vw;
height: 0.4vw;
margin: -0.2vw 0 0 9.8vw;
animation: ease 200s alternate infinite;
pointer-events: none;
}
.firefly::before, .firefly::after {
content: "";
position: absolute;
width: 100%;
height: 100%;
border-radius: 50%;
transform-origin: -10vw;
}
.firefly::before {
background: black;
opacity: 0.4;
animation: drift ease alternate infinite;
}
.firefly::after {
background: white;
opacity: 0;
box-shadow: 0 0 0vw 0vw yellow;
animation: drift ease alternate infinite, flash ease infinite;
}

.firefly:nth-child(1) {
animation-name: move1;
}
.firefly:nth-child(1)::before {
animation-duration: 16s;
}
.firefly:nth-child(1)::after {
animation-duration: 16s, 8405ms;
animation-delay: 0ms, 6352ms;
}

@keyframes move1 {
0% {
  transform: translateX(10vw) translateY(-16vh) scale(0.65);
}
3.7037037037% {
  transform: translateX(-14vw) translateY(21vh) scale(0.97);
}
7.4074074074% {
  transform: translateX(-21vw) translateY(42vh) scale(0.56);
}
11.1111111111% {
  transform: translateX(-41vw) translateY(46vh) scale(0.51);
}
14.8148148148% {
  transform: translateX(-14vw) translateY(41vh) scale(0.32);
}
18.5185185185% {
  transform: translateX(-31vw) translateY(40vh) scale(0.6);
}
22.2222222222% {
  transform: translateX(-31vw) translateY(26vh) scale(0.85);
}
25.9259259259% {
  transform: translateX(35vw) translateY(8vh) scale(0.46);
}
29.6296296296% {
  transform: translateX(9vw) translateY(45vh) scale(0.92);
}
33.3333333333% {
  transform: translateX(-18vw) translateY(15vh) scale(0.94);
}
37.037037037% {
  transform: translateX(-22vw) translateY(-44vh) scale(0.61);
}
40.7407407407% {
  transform: translateX(43vw) translateY(19vh) scale(0.6);
}
44.4444444444% {
  transform: translateX(-48vw) translateY(44vh) scale(0.64);
}
48.1481481481% {
  transform: translateX(30vw) translateY(33vh) scale(0.49);
}
51.8518518519% {
  transform: translateX(-31vw) translateY(-37vh) scale(0.3);
}
55.5555555556% {
  transform: translateX(11vw) translateY(33vh) scale(0.31);
}
59.2592592593% {
  transform: translateX(-21vw) translateY(32vh) scale(0.65);
}
62.962962963% {
  transform: translateX(1vw) translateY(-27vh) scale(0.73);
}
66.6666666667% {
  transform: translateX(-49vw) translateY(-39vh) scale(0.92);
}
70.3703703704% {
  transform: translateX(-17vw) translateY(-11vh) scale(0.29);
}
74.0740740741% {
  transform: translateX(-18vw) translateY(17vh) scale(0.83);
}
77.7777777778% {
  transform: translateX(-13vw) translateY(-21vh) scale(0.51);
}
81.4814814815% {
  transform: translateX(-43vw) translateY(39vh) scale(0.68);
}
85.1851851852% {
  transform: translateX(-3vw) translateY(7vh) scale(0.61);
}
88.8888888889% {
  transform: translateX(18vw) translateY(-33vh) scale(0.3);
}
92.5925925926% {
  transform: translateX(16vw) translateY(19vh) scale(0.66);
}
96.2962962963% {
  transform: translateX(8vw) translateY(22vh) scale(0.42);
}
100% {
  transform: translateX(-16vw) translateY(12vh) scale(0.29);
}
}
.firefly:nth-child(2) {
animation-name: move2;
}
.firefly:nth-child(2)::before {
animation-duration: 14s;
}
.firefly:nth-child(2)::after {
animation-duration: 14s, 9596ms;
animation-delay: 0ms, 7283ms;
}

@keyframes move2 {
0% {
  transform: translateX(-15vw) translateY(23vh) scale(0.79);
}
5.2631578947% {
  transform: translateX(9vw) translateY(-47vh) scale(0.89);
}
10.5263157895% {
  transform: translateX(37vw) translateY(19vh) scale(0.81);
}
15.7894736842% {
  transform: translateX(-10vw) translateY(4vh) scale(0.34);
}
21.0526315789% {
  transform: translateX(23vw) translateY(-29vh) scale(0.5);
}
26.3157894737% {
  transform: translateX(-47vw) translateY(-29vh) scale(0.61);
}
31.5789473684% {
  transform: translateX(-12vw) translateY(47vh) scale(0.94);
}
36.8421052632% {
  transform: translateX(8vw) translateY(15vh) scale(0.43);
}
42.1052631579% {
  transform: translateX(-43vw) translateY(-25vh) scale(0.49);
}
47.3684210526% {
  transform: translateX(-19vw) translateY(-41vh) scale(0.41);
}
52.6315789474% {
  transform: translateX(46vw) translateY(37vh) scale(0.29);
}
57.8947368421% {
  transform: translateX(-1vw) translateY(-3vh) scale(0.77);
}
63.1578947368% {
  transform: translateX(21vw) translateY(33vh) scale(0.75);
}
68.4210526316% {
  transform: translateX(38vw) translateY(-9vh) scale(0.51);
}
73.6842105263% {
  transform: translateX(5vw) translateY(34vh) scale(0.29);
}
78.9473684211% {
  transform: translateX(-34vw) translateY(-34vh) scale(0.69);
}
84.2105263158% {
  transform: translateX(-3vw) translateY(-18vh) scale(0.91);
}
89.4736842105% {
  transform: translateX(-39vw) translateY(28vh) scale(0.88);
}
94.7368421053% {
  transform: translateX(49vw) translateY(-30vh) scale(0.49);
}
100% {
  transform: translateX(-47vw) translateY(-32vh) scale(1);
}
}
.firefly:nth-child(3) {
animation-name: move3;
}
.firefly:nth-child(3)::before {
animation-duration: 13s;
}
.firefly:nth-child(3)::after {
animation-duration: 13s, 9706ms;
animation-delay: 0ms, 2494ms;
}

@keyframes move3 {
0% {
  transform: translateX(17vw) translateY(46vh) scale(1);
}
4.347826087% {
  transform: translateX(46vw) translateY(29vh) scale(0.72);
}
8.6956521739% {
  transform: translateX(38vw) translateY(11vh) scale(0.83);
}
13.0434782609% {
  transform: translateX(41vw) translateY(20vh) scale(0.9);
}
17.3913043478% {
  transform: translateX(-24vw) translateY(-34vh) scale(0.66);
}
21.7391304348% {
  transform: translateX(25vw) translateY(-10vh) scale(0.71);
}
26.0869565217% {
  transform: translateX(7vw) translateY(-26vh) scale(0.91);
}
30.4347826087% {
  transform: translateX(-18vw) translateY(13vh) scale(0.67);
}
34.7826086957% {
  transform: translateX(31vw) translateY(27vh) scale(0.71);
}
39.1304347826% {
  transform: translateX(15vw) translateY(-2vh) scale(0.3);
}
43.4782608696% {
  transform: translateX(-19vw) translateY(-39vh) scale(0.38);
}
47.8260869565% {
  transform: translateX(-32vw) translateY(-19vh) scale(0.57);
}
52.1739130435% {
  transform: translateX(-19vw) translateY(13vh) scale(0.97);
}
56.5217391304% {
  transform: translateX(41vw) translateY(42vh) scale(0.37);
}
60.8695652174% {
  transform: translateX(17vw) translateY(-7vh) scale(0.85);
}
65.2173913043% {
  transform: translateX(38vw) translateY(-34vh) scale(0.99);
}
69.5652173913% {
  transform: translateX(-29vw) translateY(21vh) scale(0.33);
}
73.9130434783% {
  transform: translateX(-43vw) translateY(1vh) scale(0.94);
}
78.2608695652% {
  transform: translateX(44vw) translateY(-11vh) scale(0.36);
}
82.6086956522% {
  transform: translateX(-12vw) translateY(-45vh) scale(0.79);
}
86.9565217391% {
  transform: translateX(12vw) translateY(-23vh) scale(0.52);
}
91.3043478261% {
  transform: translateX(-16vw) translateY(-41vh) scale(0.36);
}
95.652173913% {
  transform: translateX(-10vw) translateY(12vh) scale(0.91);
}
100% {
  transform: translateX(24vw) translateY(28vh) scale(0.75);
}
}
.firefly:nth-child(4) {
animation-name: move4;
}
.firefly:nth-child(4)::before {
animation-duration: 15s;
}
.firefly:nth-child(4)::after {
animation-duration: 15s, 7951ms;
animation-delay: 0ms, 7724ms;
}

@keyframes move4 {
0% {
  transform: translateX(4vw) translateY(2vh) scale(0.97);
}
5.8823529412% {
  transform: translateX(34vw) translateY(26vh) scale(0.79);
}
11.7647058824% {
  transform: translateX(41vw) translateY(20vh) scale(0.29);
}
17.6470588235% {
  transform: translateX(16vw) translateY(-12vh) scale(0.78);
}
23.5294117647% {
  transform: translateX(-5vw) translateY(-17vh) scale(0.35);
}
29.4117647059% {
  transform: translateX(-2vw) translateY(-20vh) scale(0.86);
}
35.2941176471% {
  transform: translateX(27vw) translateY(44vh) scale(0.28);
}
41.1764705882% {
  transform: translateX(29vw) translateY(5vh) scale(1);
}
47.0588235294% {
  transform: translateX(1vw) translateY(-9vh) scale(0.87);
}
52.9411764706% {
  transform: translateX(1vw) translateY(-29vh) scale(0.83);
}
58.8235294118% {
  transform: translateX(50vw) translateY(24vh) scale(0.51);
}
64.7058823529% {
  transform: translateX(44vw) translateY(17vh) scale(1);
}
70.5882352941% {
  transform: translateX(11vw) translateY(-16vh) scale(0.48);
}
76.4705882353% {
  transform: translateX(18vw) translateY(3vh) scale(0.63);
}
82.3529411765% {
  transform: translateX(-22vw) translateY(-42vh) scale(0.61);
}
88.2352941176% {
  transform: translateX(24vw) translateY(3vh) scale(0.67);
}
94.1176470588% {
  transform: translateX(40vw) translateY(20vh) scale(0.32);
}
100% {
  transform: translateX(50vw) translateY(-47vh) scale(0.38);
}
}
.firefly:nth-child(5) {
animation-name: move5;
}
.firefly:nth-child(5)::before {
animation-duration: 11s;
}
.firefly:nth-child(5)::after {
animation-duration: 11s, 6561ms;
animation-delay: 0ms, 4723ms;
}

@keyframes move5 {
0% {
  transform: translateX(36vw) translateY(9vh) scale(0.63);
}
5.2631578947% {
  transform: translateX(-2vw) translateY(-43vh) scale(0.31);
}
10.5263157895% {
  transform: translateX(-11vw) translateY(-30vh) scale(0.7);
}
15.7894736842% {
  transform: translateX(-18vw) translateY(-45vh) scale(0.74);
}
21.0526315789% {
  transform: translateX(15vw) translateY(-3vh) scale(0.84);
}
26.3157894737% {
  transform: translateX(3vw) translateY(-16vh) scale(0.83);
}
31.5789473684% {
  transform: translateX(30vw) translateY(-29vh) scale(0.29);
}
36.8421052632% {
  transform: translateX(26vw) translateY(27vh) scale(0.87);
}
42.1052631579% {
  transform: translateX(-16vw) translateY(-2vh) scale(0.49);
}
47.3684210526% {
  transform: translateX(22vw) translateY(-24vh) scale(0.45);
}
52.6315789474% {
  transform: translateX(-3vw) translateY(-35vh) scale(0.81);
}
57.8947368421% {
  transform: translateX(5vw) translateY(46vh) scale(0.36);
}
63.1578947368% {
  transform: translateX(11vw) translateY(30vh) scale(0.77);
}
68.4210526316% {
  transform: translateX(-19vw) translateY(1vh) scale(0.43);
}
73.6842105263% {
  transform: translateX(-3vw) translateY(33vh) scale(0.44);
}
78.9473684211% {
  transform: translateX(45vw) translateY(-16vh) scale(0.61);
}
84.2105263158% {
  transform: translateX(46vw) translateY(20vh) scale(0.61);
}
89.4736842105% {
  transform: translateX(-17vw) translateY(-3vh) scale(0.32);
}
94.7368421053% {
  transform: translateX(-21vw) translateY(-31vh) scale(0.58);
}
100% {
  transform: translateX(21vw) translateY(-45vh) scale(0.77);
}
}
.firefly:nth-child(6) {
animation-name: move6;
}
.firefly:nth-child(6)::before {
animation-duration: 10s;
}
.firefly:nth-child(6)::after {
animation-duration: 10s, 8254ms;
animation-delay: 0ms, 5361ms;
}

@keyframes move6 {
0% {
  transform: translateX(-27vw) translateY(-29vh) scale(0.91);
}
3.5714285714% {
  transform: translateX(28vw) translateY(38vh) scale(0.58);
}
7.1428571429% {
  transform: translateX(-28vw) translateY(4vh) scale(0.67);
}
10.7142857143% {
  transform: translateX(-39vw) translateY(-48vh) scale(0.83);
}
14.2857142857% {
  transform: translateX(-26vw) translateY(43vh) scale(0.92);
}
17.8571428571% {
  transform: translateX(0vw) translateY(35vh) scale(0.9);
}
21.4285714286% {
  transform: translateX(1vw) translateY(-9vh) scale(0.71);
}
25% {
  transform: translateX(47vw) translateY(-1vh) scale(0.55);
}
28.5714285714% {
  transform: translateX(42vw) translateY(-2vh) scale(0.88);
}
32.1428571429% {
  transform: translateX(-46vw) translateY(-14vh) scale(0.91);
}
35.7142857143% {
  transform: translateX(7vw) translateY(-40vh) scale(0.86);
}
39.2857142857% {
  transform: translateX(-28vw) translateY(-31vh) scale(0.33);
}
42.8571428571% {
  transform: translateX(-30vw) translateY(17vh) scale(0.63);
}
46.4285714286% {
  transform: translateX(23vw) translateY(17vh) scale(0.34);
}
50% {
  transform: translateX(3vw) translateY(24vh) scale(0.7);
}
53.5714285714% {
  transform: translateX(27vw) translateY(19vh) scale(0.47);
}
57.1428571429% {
  transform: translateX(10vw) translateY(50vh) scale(0.64);
}
60.7142857143% {
  transform: translateX(-21vw) translateY(-19vh) scale(0.28);
}
64.2857142857% {
  transform: translateX(48vw) translateY(-33vh) scale(0.3);
}
67.8571428571% {
  transform: translateX(-23vw) translateY(-20vh) scale(0.82);
}
71.4285714286% {
  transform: translateX(-44vw) translateY(-39vh) scale(0.41);
}
75% {
  transform: translateX(-38vw) translateY(-45vh) scale(0.88);
}
78.5714285714% {
  transform: translateX(23vw) translateY(-45vh) scale(0.96);
}
82.1428571429% {
  transform: translateX(-7vw) translateY(-4vh) scale(0.71);
}
85.7142857143% {
  transform: translateX(-46vw) translateY(-23vh) scale(0.32);
}
89.2857142857% {
  transform: translateX(26vw) translateY(-27vh) scale(0.59);
}
92.8571428571% {
  transform: translateX(25vw) translateY(23vh) scale(0.8);
}
96.4285714286% {
  transform: translateX(-3vw) translateY(-40vh) scale(0.26);
}
100% {
  transform: translateX(18vw) translateY(-32vh) scale(0.59);
}
}
.firefly:nth-child(7) {
animation-name: move7;
}
.firefly:nth-child(7)::before {
animation-duration: 11s;
}
.firefly:nth-child(7)::after {
animation-duration: 11s, 8755ms;
animation-delay: 0ms, 5263ms;
}

@keyframes move7 {
0% {
  transform: translateX(-15vw) translateY(-28vh) scale(0.49);
}
3.5714285714% {
  transform: translateX(-40vw) translateY(30vh) scale(0.55);
}
7.1428571429% {
  transform: translateX(18vw) translateY(-11vh) scale(0.67);
}
10.7142857143% {
  transform: translateX(12vw) translateY(-47vh) scale(0.29);
}
14.2857142857% {
  transform: translateX(-9vw) translateY(-1vh) scale(0.93);
}
17.8571428571% {
  transform: translateX(43vw) translateY(33vh) scale(0.41);
}
21.4285714286% {
  transform: translateX(21vw) translateY(-3vh) scale(0.81);
}
25% {
  transform: translateX(-18vw) translateY(48vh) scale(0.53);
}
28.5714285714% {
  transform: translateX(32vw) translateY(-31vh) scale(0.83);
}
32.1428571429% {
  transform: translateX(-36vw) translateY(-34vh) scale(0.35);
}
35.7142857143% {
  transform: translateX(-18vw) translateY(-27vh) scale(0.5);
}
39.2857142857% {
  transform: translateX(-15vw) translateY(-33vh) scale(0.46);
}
42.8571428571% {
  transform: translateX(23vw) translateY(35vh) scale(0.35);
}
46.4285714286% {
  transform: translateX(47vw) translateY(49vh) scale(0.8);
}
50% {
  transform: translateX(-31vw) translateY(-48vh) scale(0.57);
}
53.5714285714% {
  transform: translateX(-26vw) translateY(-18vh) scale(0.42);
}
57.1428571429% {
  transform: translateX(-32vw) translateY(-17vh) scale(0.72);
}
60.7142857143% {
  transform: translateX(-17vw) translateY(7vh) scale(0.3);
}
64.2857142857% {
  transform: translateX(-43vw) translateY(7vh) scale(0.59);
}
67.8571428571% {
  transform: translateX(48vw) translateY(-44vh) scale(0.74);
}
71.4285714286% {
  transform: translateX(50vw) translateY(-47vh) scale(0.45);
}
75% {
  transform: translateX(30vw) translateY(-15vh) scale(0.55);
}
78.5714285714% {
  transform: translateX(15vw) translateY(19vh) scale(0.61);
}
82.1428571429% {
  transform: translateX(-30vw) translateY(45vh) scale(0.87);
}
85.7142857143% {
  transform: translateX(5vw) translateY(48vh) scale(0.78);
}
89.2857142857% {
  transform: translateX(-47vw) translateY(-1vh) scale(0.52);
}
92.8571428571% {
  transform: translateX(-5vw) translateY(-24vh) scale(0.54);
}
96.4285714286% {
  transform: translateX(-41vw) translateY(10vh) scale(0.54);
}
100% {
  transform: translateX(-18vw) translateY(-43vh) scale(0.64);
}
}
.firefly:nth-child(8) {
animation-name: move8;
}
.firefly:nth-child(8)::before {
animation-duration: 14s;
}
.firefly:nth-child(8)::after {
animation-duration: 14s, 7631ms;
animation-delay: 0ms, 821ms;
}

@keyframes move8 {
0% {
  transform: translateX(-17vw) translateY(-32vh) scale(0.94);
}
5.2631578947% {
  transform: translateX(-5vw) translateY(38vh) scale(0.91);
}
10.5263157895% {
  transform: translateX(43vw) translateY(17vh) scale(0.89);
}
15.7894736842% {
  transform: translateX(45vw) translateY(-13vh) scale(0.57);
}
21.0526315789% {
  transform: translateX(-15vw) translateY(33vh) scale(0.27);
}
26.3157894737% {
  transform: translateX(-17vw) translateY(-23vh) scale(0.29);
}
31.5789473684% {
  transform: translateX(-19vw) translateY(-45vh) scale(0.31);
}
36.8421052632% {
  transform: translateX(-45vw) translateY(44vh) scale(0.99);
}
42.1052631579% {
  transform: translateX(-26vw) translateY(29vh) scale(0.46);
}
47.3684210526% {
  transform: translateX(-4vw) translateY(-11vh) scale(0.88);
}
52.6315789474% {
  transform: translateX(15vw) translateY(50vh) scale(0.61);
}
57.8947368421% {
  transform: translateX(-42vw) translateY(34vh) scale(0.89);
}
63.1578947368% {
  transform: translateX(11vw) translateY(19vh) scale(0.33);
}
68.4210526316% {
  transform: translateX(-42vw) translateY(30vh) scale(0.99);
}
73.6842105263% {
  transform: translateX(15vw) translateY(-42vh) scale(0.83);
}
78.9473684211% {
  transform: translateX(-22vw) translateY(31vh) scale(0.38);
}
84.2105263158% {
  transform: translateX(36vw) translateY(-38vh) scale(0.96);
}
89.4736842105% {
  transform: translateX(-49vw) translateY(4vh) scale(0.44);
}
94.7368421053% {
  transform: translateX(-32vw) translateY(-19vh) scale(0.4);
}
100% {
  transform: translateX(37vw) translateY(28vh) scale(0.48);
}
}
.firefly:nth-child(9) {
animation-name: move9;
}
.firefly:nth-child(9)::before {
animation-duration: 16s;
}
.firefly:nth-child(9)::after {
animation-duration: 16s, 9897ms;
animation-delay: 0ms, 5426ms;
}

@keyframes move9 {
0% {
  transform: translateX(10vw) translateY(26vh) scale(0.42);
}
4.5454545455% {
  transform: translateX(-31vw) translateY(15vh) scale(0.74);
}
9.0909090909% {
  transform: translateX(-15vw) translateY(33vh) scale(0.79);
}
13.6363636364% {
  transform: translateX(-23vw) translateY(9vh) scale(0.63);
}
18.1818181818% {
  transform: translateX(14vw) translateY(37vh) scale(0.97);
}
22.7272727273% {
  transform: translateX(5vw) translateY(-16vh) scale(0.94);
}
27.2727272727% {
  transform: translateX(-34vw) translateY(-12vh) scale(0.99);
}
31.8181818182% {
  transform: translateX(-14vw) translateY(-14vh) scale(0.81);
}
36.3636363636% {
  transform: translateX(-5vw) translateY(-49vh) scale(0.59);
}
40.9090909091% {
  transform: translateX(-9vw) translateY(45vh) scale(0.76);
}
45.4545454545% {
  transform: translateX(-40vw) translateY(11vh) scale(0.45);
}
50% {
  transform: translateX(50vw) translateY(-49vh) scale(0.71);
}
54.5454545455% {
  transform: translateX(32vw) translateY(6vh) scale(0.41);
}
59.0909090909% {
  transform: translateX(-35vw) translateY(-13vh) scale(0.38);
}
63.6363636364% {
  transform: translateX(46vw) translateY(-11vh) scale(0.92);
}
68.1818181818% {
  transform: translateX(43vw) translateY(-37vh) scale(0.31);
}
72.7272727273% {
  transform: translateX(28vw) translateY(20vh) scale(0.29);
}
77.2727272727% {
  transform: translateX(-35vw) translateY(24vh) scale(0.47);
}
81.8181818182% {
  transform: translateX(1vw) translateY(-48vh) scale(0.36);
}
86.3636363636% {
  transform: translateX(40vw) translateY(26vh) scale(0.39);
}
90.9090909091% {
  transform: translateX(9vw) translateY(-29vh) scale(0.93);
}
95.4545454545% {
  transform: translateX(-18vw) translateY(-9vh) scale(0.26);
}
100% {
  transform: translateX(-1vw) translateY(12vh) scale(0.62);
}
}
.firefly:nth-child(10) {
animation-name: move10;
}
.firefly:nth-child(10)::before {
animation-duration: 18s;
}
.firefly:nth-child(10)::after {
animation-duration: 18s, 6761ms;
animation-delay: 0ms, 1755ms;
}

@keyframes move10 {
0% {
  transform: translateX(22vw) translateY(-28vh) scale(0.83);
}
5.2631578947% {
  transform: translateX(49vw) translateY(5vh) scale(0.37);
}
10.5263157895% {
  transform: translateX(-16vw) translateY(-41vh) scale(0.42);
}
15.7894736842% {
  transform: translateX(-19vw) translateY(-25vh) scale(0.36);
}
21.0526315789% {
  transform: translateX(25vw) translateY(6vh) scale(0.86);
}
26.3157894737% {
  transform: translateX(28vw) translateY(-23vh) scale(0.41);
}
31.5789473684% {
  transform: translateX(-9vw) translateY(-49vh) scale(0.94);
}
36.8421052632% {
  transform: translateX(8vw) translateY(-24vh) scale(0.86);
}
42.1052631579% {
  transform: translateX(38vw) translateY(-33vh) scale(0.71);
}
47.3684210526% {
  transform: translateX(42vw) translateY(3vh) scale(0.43);
}
52.6315789474% {
  transform: translateX(25vw) translateY(31vh) scale(0.81);
}
57.8947368421% {
  transform: translateX(34vw) translateY(-43vh) scale(0.59);
}
63.1578947368% {
  transform: translateX(14vw) translateY(29vh) scale(0.8);
}
68.4210526316% {
  transform: translateX(44vw) translateY(-40vh) scale(0.78);
}
73.6842105263% {
  transform: translateX(-6vw) translateY(-22vh) scale(0.51);
}
78.9473684211% {
  transform: translateX(29vw) translateY(-19vh) scale(0.4);
}
84.2105263158% {
  transform: translateX(29vw) translateY(44vh) scale(0.6);
}
89.4736842105% {
  transform: translateX(-39vw) translateY(-11vh) scale(0.64);
}
94.7368421053% {
  transform: translateX(17vw) translateY(-39vh) scale(0.53);
}
100% {
  transform: translateX(-14vw) translateY(25vh) scale(0.62);
}
}
.firefly:nth-child(11) {
animation-name: move11;
}
.firefly:nth-child(11)::before {
animation-duration: 9s;
}
.firefly:nth-child(11)::after {
animation-duration: 9s, 9714ms;
animation-delay: 0ms, 5689ms;
}

@keyframes move11 {
0% {
  transform: translateX(-46vw) translateY(-47vh) scale(0.61);
}
4.7619047619% {
  transform: translateX(-40vw) translateY(-19vh) scale(0.9);
}
9.5238095238% {
  transform: translateX(-44vw) translateY(30vh) scale(0.8);
}
14.2857142857% {
  transform: translateX(14vw) translateY(-26vh) scale(0.3);
}
19.0476190476% {
  transform: translateX(28vw) translateY(20vh) scale(0.68);
}
23.8095238095% {
  transform: translateX(31vw) translateY(3vh) scale(0.93);
}
28.5714285714% {
  transform: translateX(0vw) translateY(-33vh) scale(0.74);
}
33.3333333333% {
  transform: translateX(45vw) translateY(-30vh) scale(0.71);
}
38.0952380952% {
  transform: translateX(21vw) translateY(-46vh) scale(0.95);
}
42.8571428571% {
  transform: translateX(-3vw) translateY(38vh) scale(0.45);
}
47.619047619% {
  transform: translateX(36vw) translateY(-21vh) scale(0.92);
}
52.380952381% {
  transform: translateX(23vw) translateY(-12vh) scale(0.86);
}
57.1428571429% {
  transform: translateX(-34vw) translateY(-4vh) scale(0.72);
}
61.9047619048% {
  transform: translateX(-42vw) translateY(-39vh) scale(0.67);
}
66.6666666667% {
  transform: translateX(33vw) translateY(-35vh) scale(0.93);
}
71.4285714286% {
  transform: translateX(30vw) translateY(43vh) scale(0.81);
}
76.1904761905% {
  transform: translateX(22vw) translateY(16vh) scale(0.46);
}
80.9523809524% {
  transform: translateX(33vw) translateY(-19vh) scale(0.74);
}
85.7142857143% {
  transform: translateX(-46vw) translateY(46vh) scale(0.35);
}
90.4761904762% {
  transform: translateX(42vw) translateY(-34vh) scale(0.33);
}
95.2380952381% {
  transform: translateX(-38vw) translateY(-48vh) scale(0.55);
}
100% {
  transform: translateX(5vw) translateY(-9vh) scale(0.6);
}
}
.firefly:nth-child(12) {
animation-name: move12;
}
.firefly:nth-child(12)::before {
animation-duration: 11s;
}
.firefly:nth-child(12)::after {
animation-duration: 11s, 10034ms;
animation-delay: 0ms, 1650ms;
}

@keyframes move12 {
0% {
  transform: translateX(-40vw) translateY(-12vh) scale(0.93);
}
3.8461538462% {
  transform: translateX(-5vw) translateY(-46vh) scale(0.81);
}
7.6923076923% {
  transform: translateX(-49vw) translateY(17vh) scale(0.63);
}
11.5384615385% {
  transform: translateX(-48vw) translateY(-9vh) scale(0.49);
}
15.3846153846% {
  transform: translateX(-48vw) translateY(39vh) scale(0.84);
}
19.2307692308% {
  transform: translateX(24vw) translateY(23vh) scale(0.97);
}
23.0769230769% {
  transform: translateX(-28vw) translateY(-1vh) scale(0.65);
}
26.9230769231% {
  transform: translateX(2vw) translateY(46vh) scale(0.66);
}
30.7692307692% {
  transform: translateX(7vw) translateY(-4vh) scale(0.91);
}
34.6153846154% {
  transform: translateX(-5vw) translateY(47vh) scale(0.79);
}
38.4615384615% {
  transform: translateX(42vw) translateY(39vh) scale(0.47);
}
42.3076923077% {
  transform: translateX(24vw) translateY(3vh) scale(0.94);
}
46.1538461538% {
  transform: translateX(7vw) translateY(5vh) scale(0.78);
}
50% {
  transform: translateX(36vw) translateY(-49vh) scale(0.7);
}
53.8461538462% {
  transform: translateX(-34vw) translateY(37vh) scale(0.29);
}
57.6923076923% {
  transform: translateX(35vw) translateY(48vh) scale(0.78);
}
61.5384615385% {
  transform: translateX(-40vw) translateY(13vh) scale(0.43);
}
65.3846153846% {
  transform: translateX(-21vw) translateY(-13vh) scale(0.86);
}
69.2307692308% {
  transform: translateX(13vw) translateY(3vh) scale(0.56);
}
73.0769230769% {
  transform: translateX(-30vw) translateY(-17vh) scale(0.39);
}
76.9230769231% {
  transform: translateX(46vw) translateY(14vh) scale(0.92);
}
80.7692307692% {
  transform: translateX(-29vw) translateY(40vh) scale(0.69);
}
84.6153846154% {
  transform: translateX(35vw) translateY(10vh) scale(0.94);
}
88.4615384615% {
  transform: translateX(-17vw) translateY(-41vh) scale(0.48);
}
92.3076923077% {
  transform: translateX(-48vw) translateY(-24vh) scale(0.54);
}
96.1538461538% {
  transform: translateX(23vw) translateY(21vh) scale(0.3);
}
100% {
  transform: translateX(43vw) translateY(48vh) scale(0.77);
}
}
.firefly:nth-child(13) {
animation-name: move13;
}
.firefly:nth-child(13)::before {
animation-duration: 12s;
}
.firefly:nth-child(13)::after {
animation-duration: 12s, 8318ms;
animation-delay: 0ms, 1869ms;
}

@keyframes move13 {
0% {
  transform: translateX(-25vw) translateY(0vh) scale(0.66);
}
4% {
  transform: translateX(26vw) translateY(-32vh) scale(0.72);
}
8% {
  transform: translateX(-11vw) translateY(-1vh) scale(0.31);
}
12% {
  transform: translateX(-23vw) translateY(-14vh) scale(0.7);
}
16% {
  transform: translateX(18vw) translateY(0vh) scale(0.57);
}
20% {
  transform: translateX(41vw) translateY(19vh) scale(0.99);
}
24% {
  transform: translateX(-16vw) translateY(26vh) scale(0.94);
}
28% {
  transform: translateX(40vw) translateY(4vh) scale(0.59);
}
32% {
  transform: translateX(-4vw) translateY(29vh) scale(0.66);
}
36% {
  transform: translateX(25vw) translateY(-44vh) scale(0.42);
}
40% {
  transform: translateX(-47vw) translateY(1vh) scale(0.34);
}
44% {
  transform: translateX(10vw) translateY(5vh) scale(0.37);
}
48% {
  transform: translateX(18vw) translateY(32vh) scale(0.74);
}
52% {
  transform: translateX(-30vw) translateY(16vh) scale(0.93);
}
56% {
  transform: translateX(-28vw) translateY(37vh) scale(0.91);
}
60% {
  transform: translateX(-49vw) translateY(50vh) scale(0.55);
}
64% {
  transform: translateX(33vw) translateY(-5vh) scale(0.31);
}
68% {
  transform: translateX(-7vw) translateY(46vh) scale(0.32);
}
72% {
  transform: translateX(-5vw) translateY(-46vh) scale(0.32);
}
76% {
  transform: translateX(-11vw) translateY(22vh) scale(0.33);
}
80% {
  transform: translateX(-28vw) translateY(-39vh) scale(0.76);
}
84% {
  transform: translateX(-22vw) translateY(-20vh) scale(0.26);
}
88% {
  transform: translateX(-45vw) translateY(4vh) scale(0.73);
}
92% {
  transform: translateX(-10vw) translateY(48vh) scale(0.32);
}
96% {
  transform: translateX(35vw) translateY(-19vh) scale(0.62);
}
100% {
  transform: translateX(3vw) translateY(-18vh) scale(0.76);
}
}
.firefly:nth-child(14) {
animation-name: move14;
}
.firefly:nth-child(14)::before {
animation-duration: 13s;
}
.firefly:nth-child(14)::after {
animation-duration: 13s, 7305ms;
animation-delay: 0ms, 5655ms;
}

@keyframes move14 {
0% {
  transform: translateX(-27vw) translateY(9vh) scale(0.54);
}
4.7619047619% {
  transform: translateX(-16vw) translateY(16vh) scale(0.69);
}
9.5238095238% {
  transform: translateX(23vw) translateY(17vh) scale(0.67);
}
14.2857142857% {
  transform: translateX(35vw) translateY(39vh) scale(0.26);
}
19.0476190476% {
  transform: translateX(-46vw) translateY(14vh) scale(0.53);
}
23.8095238095% {
  transform: translateX(38vw) translateY(-17vh) scale(0.99);
}
28.5714285714% {
  transform: translateX(-19vw) translateY(-7vh) scale(0.55);
}
33.3333333333% {
  transform: translateX(28vw) translateY(-15vh) scale(0.82);
}
38.0952380952% {
  transform: translateX(40vw) translateY(-21vh) scale(0.81);
}
42.8571428571% {
  transform: translateX(50vw) translateY(-11vh) scale(0.4);
}
47.619047619% {
  transform: translateX(-16vw) translateY(50vh) scale(0.99);
}
52.380952381% {
  transform: translateX(-44vw) translateY(50vh) scale(0.59);
}
57.1428571429% {
  transform: translateX(4vw) translateY(6vh) scale(0.83);
}
61.9047619048% {
  transform: translateX(-20vw) translateY(3vh) scale(0.78);
}
66.6666666667% {
  transform: translateX(33vw) translateY(39vh) scale(0.42);
}
71.4285714286% {
  transform: translateX(47vw) translateY(-27vh) scale(0.34);
}
76.1904761905% {
  transform: translateX(-27vw) translateY(-4vh) scale(0.89);
}
80.9523809524% {
  transform: translateX(20vw) translateY(20vh) scale(0.34);
}
85.7142857143% {
  transform: translateX(31vw) translateY(-34vh) scale(0.55);
}
90.4761904762% {
  transform: translateX(12vw) translateY(-14vh) scale(0.86);
}
95.2380952381% {
  transform: translateX(-35vw) translateY(-18vh) scale(0.34);
}
100% {
  transform: translateX(33vw) translateY(16vh) scale(0.26);
}
}
.firefly:nth-child(15) {
animation-name: move15;
}
.firefly:nth-child(15)::before {
animation-duration: 12s;
}
.firefly:nth-child(15)::after {
animation-duration: 12s, 9574ms;
animation-delay: 0ms, 3571ms;
}

@keyframes move15 {
0% {
  transform: translateX(12vw) translateY(-1vh) scale(0.72);
}
4% {
  transform: translateX(-14vw) translateY(-8vh) scale(0.99);
}
8% {
  transform: translateX(34vw) translateY(27vh) scale(0.66);
}
12% {
  transform: translateX(-10vw) translateY(20vh) scale(0.36);
}
16% {
  transform: translateX(-33vw) translateY(-30vh) scale(0.7);
}
20% {
  transform: translateX(32vw) translateY(-47vh) scale(0.58);
}
24% {
  transform: translateX(40vw) translateY(-25vh) scale(0.69);
}
28% {
  transform: translateX(28vw) translateY(-47vh) scale(0.81);
}
32% {
  transform: translateX(44vw) translateY(1vh) scale(0.33);
}
36% {
  transform: translateX(-8vw) translateY(34vh) scale(0.87);
}
40% {
  transform: translateX(4vw) translateY(22vh) scale(0.85);
}
44% {
  transform: translateX(-45vw) translateY(-17vh) scale(0.93);
}
48% {
  transform: translateX(-45vw) translateY(19vh) scale(0.73);
}
52% {
  transform: translateX(24vw) translateY(-44vh) scale(0.51);
}
56% {
  transform: translateX(-43vw) translateY(-2vh) scale(0.4);
}
60% {
  transform: translateX(37vw) translateY(16vh) scale(0.95);
}
64% {
  transform: translateX(4vw) translateY(16vh) scale(0.26);
}
68% {
  transform: translateX(-8vw) translateY(-32vh) scale(0.41);
}
72% {
  transform: translateX(41vw) translateY(-32vh) scale(0.81);
}
76% {
  transform: translateX(-28vw) translateY(-16vh) scale(1);
}
80% {
  transform: translateX(0vw) translateY(2vh) scale(0.45);
}
84% {
  transform: translateX(19vw) translateY(7vh) scale(0.47);
}
88% {
  transform: translateX(-41vw) translateY(13vh) scale(0.56);
}
92% {
  transform: translateX(-31vw) translateY(48vh) scale(0.45);
}
96% {
  transform: translateX(50vw) translateY(-17vh) scale(0.56);
}
100% {
  transform: translateX(0vw) translateY(45vh) scale(0.64);
}
}
@keyframes drift {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}
@keyframes flash {
0%, 30%, 100% {
  opacity: 0;
  box-shadow: 0 0 0vw 0vw yellow;
}
5% {
  opacity: 1;
  box-shadow: 0 0 2vw 0.4vw yellow;
}
}

* {
  box-sizing:border-box
}


ul {
  height:144px;
  width:344em;
  margin:5em auto;
  padding:3em 0 0 3em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 80%; 
  
}

li {
  margin:0;
  padding:0;
  list-style:none;
  position:relative;
  float:left
}

ul .white {
  height:12em;
  width:4em;
  z-index:1;
  border-left:1px solid #bbb;
  border-bottom:1px solid #bbb;
  border-radius:0 0 5px 5px;
  box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#eee 0%,#fff 100%)
}

ul .white:active {
  border-top:1px solid #777;
  border-left:1px solid #999;
  border-bottom:1px solid #999;
  box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
}

.black {
  height:6em;
  width:2em;
  margin:0 0 0 -1em;
  z-index:2;
  border:1px solid #000;
  border-radius:0 0 3px 3px;
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
  background:linear-gradient(45deg,#222 0%,#555 100%)
}

.black:active {
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
  background:linear-gradient(to right,#444 0%,#222 100%)
}

.a,.g,.f,.d,.c {
  margin:0 0 0 -1em
}

ul li:first-child {
  border-radius:5px 0 5px 5px
}

ul li:last-child {
  border-radius:0 5px 5px 5px
}

/**/
.menu {
  display: -webkit-box;
  position: absolute;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  font-weight: 600;
}

ol {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0.5em 0;
  list-style: none;
}

.menu-item {
  background: #444;
  padding: 1em 0.5em;
  position: relative;
  border-bottom: 5px solid #999;
  margin: 0 0.1em;
  -webkit-transition: border-bottom 0.23s ease-in-out, background 0.23s linear;
  transition: border-bottom 0.23s ease-in-out, background 0.23s linear;
  cursor: pointer;
  min-width: 8em;
  text-align: center;
}
.menu-item[aria-haspopup="true"] {
  border-bottom-color: #fc9b1b;
}
.menu-item:hover, .menu-item:focus-within {
  border-bottom-color: #91d36b;
  background: #333;
}
.menu-item:hover .sub-menu, .menu-item:hover .sub-menu:hover, .menu-item:focus-within .sub-menu, .menu-item:focus-within .sub-menu:hover {
  visibility: visible;
  opacity: 1;
  display: -webkit-box;
  display: flex;
}

.sub-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: start;
          align-items: flex-start;
  position: absolute;
  left: 0;
  margin-top: 1em;
  visibility: hidden;
  display: none;
  opacity: 0;
}
.sub-menu .menu-item {
  margin: 0.1em 0;
  padding: 1em;
  width: 10em;
  text-align: center;
  z-index: 2;
}

a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
a:focus {
  outline: none;
}

@media (max-width: 690px) {
  .menu {
    width: 95%;
    font-size: 16px;
  }

  .menu-item {
    margin: 0.1em;
  }
  .menu-item:nth-child(1) {
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
  .menu-item:nth-child(2) {
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .menu-item:nth-child(3) {
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .menu-item:nth-child(4) {
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .menu-item:nth-child(5) {
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
}
@media (max-width: 480px) {
  .menu {
    font-size: 12px;
  }
}