body{
  /*font-family: "Montserrat";*/
  /*font-size: 16px;*/
  /*
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  */

}

.form-select{
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M7 7l3-3 3 3m0 6l-3 3-3-3' stroke='%239fa6b2' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  /*color-adjust: exact;*/
  background-repeat: no-repeat;    
  background-position: right 0 center;
  /*background-size: 1.0em 1.0em;*/
  height: auto;
}


.selectPacking{
  color:rgba(26,32,44,1); /*bg-gray-900*/
}
.selectPacking:hover{
  background-color:rgba(56,161,105,1); /*bg-green-600*/
  color:rgba(255,255,255);
}

.activePacking{
  text-transform: uppercase;
  background-color:rgba(56,161,105,1); /*bg-green-600*/
  color:rgba(255,255,255);
}
.activePacking:hover{
  color:rgba(26,32,44,1); /*bg-gray-900*/
  background-color: transparent;
}

@media (min-width: 1280px){
  .xl\:w-48pct {
    width: 48% !important;
  }
}

input:invalid{
          
    box-shadow: none;
    background-color:rgb(226,232,240) !important;
}

#calculatorWrapper input{
    /*border: 1px solid black !important;*/
    width: 130px !important;
}
  
/*************************
Back to top button
*************************/

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/******************************
Table Formatting
******************************/

.pure-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.pure-table td,
.pure-table th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
}

.pure-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}
.pure-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.pure-table td {
    background-color: transparent;
}

/* BORDERED TABLES */
.pure-table-bordered td {
    border-bottom: 1px solid #cbcbcb;
}
.pure-table-bordered tbody > tr:last-child > td {
    border-bottom-width: 0;
}

.select2.select2-container.select2-container--default{
  margin: 16px auto; 
}

.select2-selection.select2-selection--single{
  outline: 0;
}